body {
  background-color: aqua;
}
.container {
  height: 600px;
  width: 600px;
  display: flex;
  justify-content: center;
}

.cell {
  background: #c925a0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  width: 15px;
  height: 40px;
}
